.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
####################################
#############packages#############
####################################
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
gradle.properties
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### myeclipse IDEA ###
.myeclipse

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
tmp/
nbbuild/
dist/
nbdist/
.nb-gradle/

### logs
logs/
/.restart
*/.DS_Store
/out/
*/.restart
/sync/*.pyc
/sync/*.dat
/jcodes-core/out/
